<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>


<div className="home-content-item box">
    <img src="./images/HOME/item1.png" alt=""/>
    <span>优质服务</span>
    <i></i>
    <strong>提供领先行业的优质服务</strong>
</div>
<div className="home-content-item box">
    <img src="./images/HOME/item1.png" alt=""/>
    <span>技术支持</span>
    <i></i>
    <strong>提供高技术水平代帐平台</strong>
</div>
<div className="home-content-item box">
    <img src="./images/HOME/item1.png" alt=""/>
    <span>优质服务</span>
    <i></i>
    <strong>提供领先行业的优质服务</strong>
</div>
<div className="home-content-item box">
    <img src="./images/HOME/item1.png" alt=""/>
    <span>优质服务</span>
    <i></i>
    <strong>提供领先行业的优质服务</strong>
</div>